{{>nav}}

<div id="dashIconGrid" class=" well container">

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/profile">
        <figure>
          <div class="img-wrapper">
            <img class="dashIcon img-responsive" src="../assets/img/profile-mono-a.png" alt="Profile Icon">
            <figcaption class="iconText" >Edit/Submit<br>Profile</figcaption>
          </div>
        </figure>
      </a>
    </div>

    <div class="col-md-4 text-center">
      <a href="/questions">
        <figure>
          <div class="img-wrapper">
            <img class="dashIcon img-responsive" src="../assets/img/survey-mono-a.png" alt="Survey Icon">
            <figcaption class="iconText" >Edit/Submit<br>Survey</figcaption>
          </div>
        </figure>
      </a>
    </div>

    <div class="col-md-4 text-center">
      <a href="">
        <figure>
          <div class="img-wrapper">
            <img class="dashIcon img-responsive" src="../assets/img/search-mono-a.png" alt="Search Icon">
            <figcaption class="iconText" >Search<br>Matches</figcaption>
          </div>
        </figure>
      </a>
    </div>
  </div><!-- /row-->

  <div class="row">
    <div class="col-md-4 col-md-offset-2 text-center">
      <a href="">
        <figure>
          <div class="img-wrapper">
            <img class="dashIcon img-responsive" src="../assets/img/saved-mono-a.png" alt="Saved Icon">
            <figcaption class="iconText" >Saved<br>Matches</figcaption>
          </div>
        </figure>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="">
        <figure>
          <div class="img-wrapper">
            <img class="dashIcon img-responsive" src="../assets/img/messages-mono-a.png" alt="Messages Icon">
            <figcaption class="iconText" >Check<br>Messages</figcaption>
          </div>
        </figure>
      </a>
    </div>

  </div><!-- /row-->

</div><!--/container-->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: '/api/dashboard',
            data: {
                token: localStorage.getItem('token')
            },
            success: function (res) {
                console.log(res);
            },
            error: function (error) {
                console.log(error);
                debugger;
                location.href = "/";
            }
        });
    });
</script>
