{{>nav}}

<div id="dashIconGrid" class=" well container">

  <div class="row">
    <div class="col-md-4 text-center">
      <a href="/profile">
        <img class="dashIcon img-responsive" src="assets/img/profile.png" alt="Profile Icon">
      </a>

      <!--<a href="/profile">
        <div id="profile" class="dashBoardIcon"><i class ="fa fa-user fa-4x" aria-hidden="true"></i></div>
        <h2>Profile</h2>
      </a> -->
    </div>

    <div class="col-md-4 text-center">
      <a href="/questions">
        <img class="dashIcon img-responsive" src="assets/img/survey.png" alt="Survey Icon">
      </a>

      <!-- <div id="survey" class="dashBoardIcon"><i class ="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i></div>
      <h2>Survey</h2> -->
    </div>

    <div class="col-md-4 text-center">
      <a href="">
        <img class="dashIcon img-responsive" src="assets/img/search.png" alt="Search Icon">
      </a>

      <!-- <div id="findMatches" class="dashBoardIcon"><i class ="fa fa-heart fa-4x" aria-hidden="true"></i></div>
      <h2>Find Matches</h2> -->
    </div>
  </div><!-- /row-->

  <div class="row">
    <div class="col-md-4 col-md-offset-2 text-center">
      <a href="">
        <img class="dashIcon img-responsive" src="assets/img/saved.png" alt="Saved Icon">
      </a>

      <!--<a href="/profile">
        <div id="profile" class="dashBoardIcon"><i class ="fa fa-user fa-4x" aria-hidden="true"></i></div>
        <h2>Profile</h2>
      </a> -->
    </div>

    <div class="col-md-4 text-center">
      <a href="">
        <img class="dashIcon img-responsive" src="assets/img/messages.png" alt="Messages Icon">
      </a>

      <!-- <div id="survey" class="dashBoardIcon"><i class ="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i></div>
      <h2>Survey</h2> -->
    </div>

  </div><!-- /row-->

</div><!--/container-->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
