{{>nav}}


<div class="container">
  <form>
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="firstname" class="form-control" id="firstname" aria-describedby="firstname" placeholder="What's your first name?">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="lastname" class="form-control" id="lastname" aria-describedby="lastname" placeholder="What's your last name?">
    </div>
    <div class="form-group">
      <label for="location">Last Name</label>
      <input type="location" class="form-control" id="location" aria-describedby="location" placeholder="What city do you live in?">
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input type="zipcode" class="form-control" id="zipcode" aria-describedby="zipcode" placeholder="Enter your zipcode">
    </div>
    <div class="form-group">
      <label for="bio">Tell us a little about yourself</label>
      <textarea class="form-control" id="bio" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="imglink">Image Link</label>
      <input type="imglink" class="form-control" id="imglink" aria-describedby="imglink" placeholder="Link to a photo of yourself">
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Save</button>
  </form>
</div>
