{{>nav}}

<div class="well container">
  <div class="survey">

    <legend>Survey</legend>
    {{#each questions}}
      <div id="{{id}}" class="questionBlock form-group">
        <label><h4>{{question}}</h4></label>
        <select data-placeholder="" class="form-control qForm">
            {{#each surveyAnswers}}
              <option value="{{value}}">{{body}}</option>
            {{/each}}
        </select>

      </div>
    {{/each}}
    <!-- Submit Button -->
    <button id="surveySubmit" type="submit" class="btn btn-warning">
      SUBMIT<span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script>
$("#surveySubmit").on("click", function(){
  function validateForm() {
		var isValid = true;
		$('.form-control').each(function() {
			if ( $(this).val() === '' )
		    	isValid = false;
		});
	  	return isValid;
	}

	// If all required fields are filled
	if (validateForm()) {
      //add some code to post the answer array to the profile table?
      var answers = [];

      $('.qForm').each(function() {
        answers.push($(this).find('option:selected').val());
      });
      console.log(answers);
       $.ajax({
         url: "/questions/submit",
         method: "POST",
         data: {
           answer: answers
         }
       }).done(function(answers){
       });
     }
   else
  {
    alert("Please fill out all fields before submitting!");
  }

  return false;
});
</script>
