<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Your Name</label>
      <input type="name" class="form-control" id="name" aria-describedby="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input type="zipcode" class="form-control" id="zipcode" aria-describedby="zipcode" placeholder="Enter your zipcode">
    </div>
    <div class="form-group">
      <label for="bio">Brief Description of Yourself</label>
      <textarea class="form-control" id="bio" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Save</button>
  </form>
</div>
